<div class="banner_w3lspvt">
	<div class="csslider infinity" id="slider1">
		<input type="radio" name="slides" checked="checked" id="slides_1" />
		<input type="radio" name="slides" id="slides_2" />
		<input type="radio" name="slides" id="slides_3" />
		<input type="radio" name="slides" id="slides_4" />
		<ul>
			<li>
				<div class="banner-top">
					<div class="container">
						<div class="w3layouts-banner-info text-center">
							<h3 class="text-wh">Welcome to GwalG</h3>
							<p class="slider-text-li mx-auto mt-2">GwalG aims to provide doorstep delivery of milk to meet customer requirement and helps to maintain Healty.</p>
							<a href="#subscribe" class="button-style scroll mt-sm-5 mt-4">Subscribe Now</a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="banner-top1">
					<div class="container">
						<div class="w3layouts-banner-info text-center">
							<h3 class="text-wh">GwalG for healthy products</h3>
							<p class="slider-text-li mx-auto mt-2">After eating adulterated products how we can expect healthy life, "is not possible". So we are here for quality.</p>
							<a href="#subscribe" class="button-style scroll mt-sm-5 mt-4">Subscribe Now</a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="banner-top2">
					<div class="container">
						<div class="w3layouts-banner-info text-center">
							<h3 class="text-wh">Pure and primary needs</h3>
							<p class="slider-text-li mx-auto mt-2">Milk is requirement of all age group people which is one of our primary needs on daily basis.</p>
							<a href="#subscribe" class="button-style scroll mt-sm-5 mt-4">Subscribe Now</a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="banner-top3">
					<div class="container">
						<div class="w3layouts-banner-info text-center">
							<h3 class="text-wh">If you are paying then buy quatity products.</h3>
							<p class="slider-text-li mx-auto mt-2">As we all know that adulteration is very easy and common thing in milk. If you are paying money then it's our duty to provide pure and quality products.</p>
							<a href="#subscribe" class="button-style scroll mt-sm-5 mt-4">Subscribe Now</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="arrows">
			<label for="slides_1"></label>
			<label for="slides_2"></label>
			<label for="slides_3"></label>
			<label for="slides_4"></label>
		</div>
	</div>
	<div class="icon-w3">
		<a href="#about" class="scroll">
			<i class="fa fa-angle-double-down" aria-hidden="true"></i>
		</a>
	</div>
</div>