<section class="partners py-5" id="partners">
	<div class="container py-xl-5 py-4">
		<h3 class="w3ls-title text-da text-center font-weight-bold mb-5">Our <span class="font-weight-light">Partners</span></h3>
		<div class="row grid-part text-center pt-4">
			<div class="col-md-2 col-4">
				<div class="parts-w3pvt bg-wh">
					<a href="#"><i class="fa fa-angellist"></i></a>
				</div>
			</div>
			<div class="col-md-2 col-4">
				<div class="parts-w3pvt bg-wh">
					<a href="#"><i class="fa fa-opencart"></i></a>
				</div>
			</div>
			<div class="col-md-2 col-4">
				<div class="parts-w3pvt bg-wh">
					<a href="#"><i class="fa fa-lastfm"></i></a>
				</div>
			</div>
			<div class="col-md-2 col-4 mt-md-0 mt-3">
				<div class="parts-w3pvt bg-wh">
					<a href="#"><i class="fa fa-openid"></i></a>
				</div>
			</div>
			<div class="col-md-2 col-4 mt-md-0 mt-3">
				<div class="parts-w3pvt bg-wh">
					<a href="#"><i class="fa fa-skyatlas"></i></a>
				</div>
			</div>
			<div class="col-md-2 col-4 mt-md-0 mt-3">
				<div class="parts-w3pvt bg-wh">
					<a href="#"><i class="fa fa-ravelry"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
