<div class="row contact-form">
	<div class="offset-lg-2"></div>
	<div class="col-lg-8 wthree-form-left">
		<!-- contact form grid -->
		<fieldset class="contact-top1" data-blast="borderColor">
			<legend class="text-wh let text-capitalize">Feel to subscribe</legend>
			<form action="#" method="post" class="f-color">
				<div class="form-group">
					<div class="row">
						<div class="col-lg-5">
							<label for="contactusername">Name</label>
							<input type="text" class="form-control full-width" name="name" id="contactusername" required placeholder="Enter name...">
						</div>
						<div class="col-lg-5 offset-lg-2">
							<label for="contactusername">Quantity</label>
							<input type="text" class="form-control full-width" name="name" id="contactmobile" required placeholder="Enter quantity...">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-lg-5">
								<label for="contactemail">Mobile</label>
								<input type="text" class="form-control full-width" name="email" id="contactemail" required placeholder="Enter mobile...">
						</div>
						<div class="col-lg-5 offset-lg-2">
							<label for="contactusername">Email</label>
							<input type="email" class="form-control full-width" name="name" id="contactmobile" required placeholder="Enter emial...">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-lg-5">
							<label for="contactcomment">Start Date</label>
							<input type="" name="" class="form-control" rows="5" name="message" id="contactcomment" required placeholder="Enter start date...">
						</div>
						<div class="col-lg-5 offset-lg-2">
							<label for="contactcomment">End Date</label>
							<input class="form-control" rows="5" name="message" id="contactcomment" required placeholder="Enter end date...">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="contactusername">Address</label>
						<textarea class="form-control" rows="4" name="message" id="contactcomment" required placeholder="your address..."></textarea>
				</div>
				<button type="submit" class="btn btn-block" data-blast="bgColor">Subscribe</button>
			</form>
		</fieldset>
		<!--  //contact form grid ends here -->
	</div>
	<div class="offset-lg-2"></div>
</div>
