<div class="team py-5" id="team">
	<div class="container py-xl-5 py-lg-3">
		<h3 class="w3ls-title text-da text-center font-weight-bold mb-5 pb-xl-4">Our <span class="font-weight-light">Team</span></h3>
		<div class="row team-bottom pt-4 text-center">
			<div class="col-lg-3 col-sm-6 team-grid">
				<%= image_tag("t1.png", class: "img-fluid", alt: "" ) %>
				<div class="caption">
					<div class="team-text">
						<h4>S K Yadav</h4>
					</div>
					<ul>
						<li>
							<a href="#">
								<i class="fa fa-facebook f1" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-twitter f2" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-google-plus f3" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 team-grid mt-sm-0 mt-5">
				<%= image_tag("t3.png", class: "img-fluid", alt: "" ) %>
				<div class="caption">
					<div class="team-text">
						<h4>N Agarwal</h4>
					</div>
					<ul>
						<li>
							<a href="#">
								<i class="fa fa-facebook f1" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-twitter f2" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-google-plus f3" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 team-grid mt-lg-0 mt-5">
				<%= image_tag("t2.png", class: "img-fluid", alt: "" ) %>
				<div class="caption">
					<div class="team-text">
						<h4>Rochy Rai</h4>
					</div>
					<ul>
						<li>
							<a href="#">
								<i class="fa fa-facebook f1" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-twitter f2" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-google-plus f3" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 team-grid  mt-lg-0 mt-5">
				<%= image_tag("t4.png", class: "img-fluid", alt: "" ) %>
				<div class="caption">
					<div class="team-text">
						<h4>R N Pandey</h4>
					</div>
					<ul>
						<li>
							<a href="#">
								<i class="fa fa-facebook f1" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-twitter f2" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-google-plus f3" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>